
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 400px; 
  padding: 10px;
  font-size: 16px;
  background-color: #dbcccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  width: 400px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content > div {
  cursor: pointer;
  padding: 5px;
}

.dropdown-content > div:hover {
  background-color: #ddd;
}

